<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Fraud Detection</title>
    <style>
        table,thead,td,tr{
            border: 2px solid black;
        }
        header {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80px;
            background-color: #14213d;
            color: #fff;
        }
    </style>
</head>
{% load static %}

{% block page_content %}
<header>
    <h1>Fraud Detection</h1>
</header>
<body>
<h1><br></h1>
<div class="row">
    <div class="col-md-4"> 
        <table class="table table-striped table-hover">
        <thead>
            <th>#</th>
            <th>Scoring results</th>
        </thead>
        <tbody>
            <tr>
                <td><strong>id</strong></td>
                <td><strong>User</strong></td>
                <td><strong>Merchant_name</strong></td>
                <td><strong>Merchant_city</strong></td>
                <td><strong>Merchant_state</strong></td>
                <td><strong>Zip</strong></td>
                <td><strong>Use_chip</strong></td>
                <td><strong>Errors</strong></td>
                <td><strong>Amount</strong></td>
                <td><strong>Card</strong></td>
                <td><strong>IsFraud</strong></td>
            </tr>
        {% for i in myDatabase %}
        <tr>
           <td><strong>{{ forloop.counter }} </strong></td>
           {% comment %} <td><strong>{{ i.id}}</strong></td> {% endcomment %}
           <td><strong>{{ i.User}}</strong></td>
           <td><strong>{{ i.Merchant_name}}</strong></td>
           <td><strong>{{ i.Merchant_city}}</strong></td>
           <td><strong>{{ i.Merchant_state}}</strong></td>
           <td><strong>{{ i.Zip}}</strong></td>
           <td><strong>{{ i.Use_chip}}</strong></td>
           <td><strong>{{ i.Errors}}</strong></td>
           <td><strong>{{ i.Amount}}</strong></td>
           <td><strong>{{ i.Card}}</strong></td>
           <td><strong>{{ i.IsFraud}}</strong></td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
    <div>
</div>
</body>
{% endblock %}